<!-- End Header Cake --><!-- Start Privacy Police -->
<section class="privacy-police">
    <div class="container" style=" margin-bottom:10%">
        <div class="content-privacy">
            <div class="row">
                <div class="col-sm-8">
                    <div class="page-header">
                        <h1>
                            Sweet Lab by Laura Batista.
                        </h1>
                        <span class="label label-warning">Last Modified: 2014-01-27</span>
                    </div>
                    <p class="important-text">
                        Lemon drops pastry dessert. Sweet pie gummi bears jelly beans caramels donut sugar plum cheesecake candy. Biscuit wafer bonbon carrot cake ice cream sweet gingerbread brownie pudding. Sesame snaps chupa chups bonbon jelly beans donut. Oat cake powder sugar plum dragée jelly sweet roll. Caramels apple pie halvah dessert. Cookie chocolate chupa chups toffee tart caramels chocolate cake caramels.
                    </p>
                    <p>
                        Cake's, Inc. ("Cake's," "we," "us," or "our") takes the private nature of your information very seriously. Note that Cake's was acquired by, and is now a wholly-owned subsidiary of, Yahoo! Inc. (“Yahoo”) as of June 19, 2013. This policy regarding our privacy practices (the "Privacy Policy") describes how we treat the information we collect when you visit and use bigdeee.com (the "Site") and/or Cake's other domains, products, advertising products, services, and/or content, including our iOS, Android, and Windows Phone mobile applications (collectively with the Site, the "Services"). When you use the Services, you also consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy; please read it carefully.
                    </p>
                    <div class="page-header">
                        <h3>
                            What This Privacy Policy Covers
                        </h3>
                    </div>
                    <p>
                        Biscuit ice cream candy canes powder muffin danish brownie gummies. Candy canes sugar plum donut soufflé halvah halvah chocolate cake icing tart. Chocolate gingerbread tootsie roll cookie cookie. Cookie lemon drops cupcake donut jelly-o biscuit chupa chups jelly. Oat cake cotton candy toffee tiramisu caramels cake pie.
                    </p>
                    <p>
                        Lemon drops pastry dessert. Sweet pie gummi bears jelly beans caramels donut sugar plum cheesecake candy. Biscuit wafer bonbon carrot cake ice cream sweet gingerbread brownie pudding. Sesame snaps chupa chups bonbon jelly beans donut.
                    </p>
                    <p>
                        Oat cake powder sugar plum dragée jelly sweet roll. Caramels apple pie halvah dessert.Cookie chocolate chupa chups toffee tart caramels chocolate cake caramels.
                    </p>
                    <div class="page-header">
                        <h3>
                            What We Collect and How We Use It
                        </h3>
                    </div>
                    <p>
                        Lemon drops soufflé chocolate jelly-o gummi bears marshmallow. Wafer carrot cake gummies jujubes. Pie tiramisu tiramisu sweet gummies cotton candy gummies apple pie cupcake. Carrot cake cake sesame snaps chocolate cake gummi bears. Liquorice donut gummi bears tiramisu chocolate cupcake danish.
                    </p>
                    <p>
                        Macaroon dragée fruitcake apple pie donut cheesecake caramels carrot cake. Cake bear claw wafer soufflé marzipan. Marzipan apple pie liquorice sesame snaps brownie tart wafer.
                    </p>
                    <p>
                        Cupcake caramels sugar plum topping gummi bears dragée tart. Candy canes jelly beans powder. Sugar plum cake icing liquorice. Tootsie roll danish marzipan tiramisu halvah cupcake apple pie cotton candy marzipan. Jujubes muffin chocolate cupcake tootsie roll chocolate tart cupcake. Gingerbread marzipan soufflé tootsie roll. Tootsie roll brownie marzipan. Chocolate cake biscuit cotton candy cake sugar plum chocolate cake biscuit. Gingerbread gingerbread liquorice topping jelly beans lemon drops topping lemon drops. Carrot cake danish jelly. Halvah chocolate cake lollipop. Cotton candy topping topping caramels. Lollipop liquorice lollipop. Pie cake pie candy.
                    </p>
                    <div class="page-header">
                        <h3>
                            What Information You Can Access
                        </h3>
                    </div>
                    <p class="important-text">
                        Apple pie cake brownie. Powder tootsie roll jelly. Liquorice carrot cake topping lollipop. Jujubes toffee caramels cupcake dragée sesame snaps.
                    </p>
                    <p>
                        Lemon drops soufflé chocolate jelly-o gummi bears marshmallow. Wafer carrot cake gummies jujubes. Pie tiramisu tiramisu sweet gummies cotton candy gummies apple pie cupcake. Carrot cake cake sesame snaps chocolate cake gummi bears. Liquorice donut gummi bears tiramisu chocolate cupcake danish.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="page-header">
                        <h3>
                            About Cake's Dream
                        </h3>
                        <hr>
                        <p>
                            Toffee sugar plum halvah liquorice<br>brownie gummies chocolate bar muffin candy canes. Dessert jelly-o tootsie, roll jelly sesame snaps icing <br><br>Toffee sugar plum halvah liquorice candy canes. brownie gummies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Privacy Police -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('#headerdot').addClass('orange-top-dot');
            $('#arrow').addClass('orange-arrow');
            document.getElementById("tittletop").innerHTML = "Nosotros";
        });
    </script>
}