
@{
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cake&#39;s Dream is Beautiful Template " name="description">
    <meta content="" name="author">
    <link href="~/assets/images/favicon-32x32.png" rel="shortcut icon">
    <title>Cake's Dreams</title>
    <link href="~/assets/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/font-family.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/responsive.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/slick.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/slick-theme.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/style.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/animate.css" rel="stylesheet">
    <link href="~/assets/javascripts/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/css/global.css" rel="stylesheet">
    <link href="~/assets/stylesheets/css/effect2.css" rel="stylesheet" type="text/css">
    <script src="~/assets/javascripts/modernizr.custom.js"></script>
</head>
<body class="demo-1">
    <div class="ip-container" id="ip-container">
        <!--initial header-->
        <header class="ip-header">
            <div class="ip-loader">
                <svg class="ip-inner" height="60px" viewbox="0 0 80 80" width="60px"><path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"></path><path class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" id="ip-loader-circle"></path></svg>
            </div>
        </header>
        <!--main content-->
        <div class="ip-main">
            <div class="top-highlight hide">
                &nbsp;
            </div>
            <!-- Start Header Cake -->
            <section class="header-wrapper">
                <header class="wrap-header orange-top-dot">
                    <div class="top-absolute">
                        <div class="top-header">
                            <div class="container">
                                <div class="navbar-header visible-xs">
                                    <button class="navbar-toggle toggle-cake show-menu"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand navbar-cake" href="#"><img alt="Logo-White" src="~/assets/images/logobordeblanco.png"></a>
                                </div>
                                <nav>
                                    <ul class="header-nav hidden-xs">
                                        <li>
                                            <a href="~/Home/Index">INICIO</a>
                                        </li>
                                        <li>
                                            <a href="~/Home/Tienda">TIENDA</a>
                                        </li>
                                        <li class="pad-top-0i">
                                            <img alt="Logo-Cupcakes" src="~/assets/images/logobordeblanco.png">
                                        </li>
                                        <li>
                                            <a href="~/Home/Nosotros">NOSOTROS</a>
                                        </li>
                                        <li>
                                            <a href="~/Home/Contacto">CONTACTO</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- Start Mega Menu Cake -->
                                <div class="mega-menu hide">
                                    <div class="tittle-mega">
                                        <h4>
                                            - Mega Menu -
                                        </h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="list-mega">
                                                    <li>
                                                        <a href="~/Home/Index">INICIO</a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Home/Tienda">TIENDA</a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Home/Nosotros">NOSOTROS</a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Home/Contacto">CONTACTO</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="div text-center">
                                            <button class="btn btn-pink-cake mar-top-20 close-menu">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Mega Menu Cake -->
                            </div>
                        </div>
                        <div class="triangle">
                            &nbsp;
                        </div>
                    </div>
                    <div class="tittle-sub-top pad-top-150">
                        <div class="container">
                            <h1>
                                Nosotros
                            </h1>
                        </div>
                    </div>
                </header>
                <div class="orange-arrow">
                    &nbsp;
                </div>
            </section>
            <!-- End Header Cake --><!-- Start Privacy Police -->
            <section class="privacy-police">
                <div class="container">
                    <div class="content-privacy">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="page-header">
                                    <h1>
                                        Privacy Cake's
                                        small Sweet pie gummi bears jelly.
                                    </h1>
                                    <span class="label label-warning">Last Modified: 2014-01-27</span>
                                </div>
                                <p class="important-text">
                                    Lemon drops pastry dessert. Sweet pie gummi bears jelly beans caramels donut sugar plum cheesecake candy. Biscuit wafer bonbon carrot cake ice cream sweet gingerbread brownie pudding. Sesame snaps chupa chups bonbon jelly beans donut. Oat cake powder sugar plum dragée jelly sweet roll. Caramels apple pie halvah dessert. Cookie chocolate chupa chups toffee tart caramels chocolate cake caramels.
                                </p>
                                <p>
                                    Cake's, Inc. ("Cake's," "we," "us," or "our") takes the private nature of your information very seriously. Note that Cake's was acquired by, and is now a wholly-owned subsidiary of, Yahoo! Inc. (“Yahoo”) as of June 19, 2013. This policy regarding our privacy practices (the "Privacy Policy") describes how we treat the information we collect when you visit and use bigdeee.com (the "Site") and/or Cake's other domains, products, advertising products, services, and/or content, including our iOS, Android, and Windows Phone mobile applications (collectively with the Site, the "Services"). When you use the Services, you also consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy; please read it carefully.
                                </p>
                                <div class="page-header">
                                    <h3>
                                        What This Privacy Policy Covers
                                    </h3>
                                </div>
                                <p>
                                    Biscuit ice cream candy canes powder muffin danish brownie gummies. Candy canes sugar plum donut soufflé halvah halvah chocolate cake icing tart. Chocolate gingerbread tootsie roll cookie cookie. Cookie lemon drops cupcake donut jelly-o biscuit chupa chups jelly. Oat cake cotton candy toffee tiramisu caramels cake pie.
                                </p>
                                <p>
                                    Lemon drops pastry dessert. Sweet pie gummi bears jelly beans caramels donut sugar plum cheesecake candy. Biscuit wafer bonbon carrot cake ice cream sweet gingerbread brownie pudding. Sesame snaps chupa chups bonbon jelly beans donut.
                                </p>
                                <p>
                                    Oat cake powder sugar plum dragée jelly sweet roll. Caramels apple pie halvah dessert.Cookie chocolate chupa chups toffee tart caramels chocolate cake caramels.
                                </p>
                                <div class="page-header">
                                    <h3>
                                        What We Collect and How We Use It
                                    </h3>
                                </div>
                                <p>
                                    Lemon drops soufflé chocolate jelly-o gummi bears marshmallow. Wafer carrot cake gummies jujubes. Pie tiramisu tiramisu sweet gummies cotton candy gummies apple pie cupcake. Carrot cake cake sesame snaps chocolate cake gummi bears. Liquorice donut gummi bears tiramisu chocolate cupcake danish.
                                </p>
                                <p>
                                    Macaroon dragée fruitcake apple pie donut cheesecake caramels carrot cake. Cake bear claw wafer soufflé marzipan. Marzipan apple pie liquorice sesame snaps brownie tart wafer.
                                </p>
                                <p>
                                    Cupcake caramels sugar plum topping gummi bears dragée tart. Candy canes jelly beans powder. Sugar plum cake icing liquorice. Tootsie roll danish marzipan tiramisu halvah cupcake apple pie cotton candy marzipan. Jujubes muffin chocolate cupcake tootsie roll chocolate tart cupcake. Gingerbread marzipan soufflé tootsie roll. Tootsie roll brownie marzipan. Chocolate cake biscuit cotton candy cake sugar plum chocolate cake biscuit. Gingerbread gingerbread liquorice topping jelly beans lemon drops topping lemon drops. Carrot cake danish jelly. Halvah chocolate cake lollipop. Cotton candy topping topping caramels. Lollipop liquorice lollipop. Pie cake pie candy.
                                </p>
                                <div class="page-header">
                                    <h3>
                                        What Information You Can Access
                                    </h3>
                                </div>
                                <p class="important-text">
                                    Apple pie cake brownie. Powder tootsie roll jelly. Liquorice carrot cake topping lollipop. Jujubes toffee caramels cupcake dragée sesame snaps.
                                </p>
                                <p>
                                    Lemon drops soufflé chocolate jelly-o gummi bears marshmallow. Wafer carrot cake gummies jujubes. Pie tiramisu tiramisu sweet gummies cotton candy gummies apple pie cupcake. Carrot cake cake sesame snaps chocolate cake gummi bears. Liquorice donut gummi bears tiramisu chocolate cupcake danish.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <div class="page-header">
                                    <h3>
                                        About Cake's Dream
                                    </h3>
                                    <hr>
                                    <p>
                                        Toffee sugar plum halvah liquorice<br>brownie gummies chocolate bar muffin candy canes. Dessert jelly-o tootsie, roll jelly sesame snaps icing <br><br>Toffee sugar plum halvah liquorice candy canes. brownie gummies.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Privacy Police -->
            <div class="pad-top-150"></div>
            <!-- Start Footer Cake -->
            <footer>
                <div class="triangle-no-animate">
                    &nbsp;
                </div>
                <div class="container">
                    <div class="abs-logo-footer">
                        <img alt="Logo-Cake" src="~/assets/images/logobordeblanco.png">
                    </div>
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Todos los derechos reservados por:</p>
                                <img alt="Logo-White" class="img-cake-center-res mar-btm-20" src="~/assets/images/sweetlogo100.png">
                            </div>
                            <div class="col-sm-6 text-right">
                                <ul class="sosmed-cake">
                                    <li>
                                        <div class="center-sosmed">
                                            <p class="icon icon-facebook">
                                                &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="center-sosmed">
                                            <p class="icon icon-twitter">
                                                &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="center-sosmed">
                                            <p class="icon icon-behance">
                                                &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="center-sosmed">
                                            <p class="icon icon-dribbble">
                                                &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="center-sosmed">
                                            <p class="icon icon-pinterest">
                                                &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="line-top-white mar-btm-20 mar-top-20">
                        &nbsp;
                    </div>
                    <div class="content-about-footer">
                        <!-- Column -->
                        <div class="col-sm-4">
                            <h4>
                                Cake's Dream
                            </h4>
                            <p class="mar-btm-20">
                                Cookie apple pie donut gingerbread <br>sweet roll pudding topping <br>marshmallow.<br>
                            </p>
                            <p class="mar-btm-20">
                                Jl Kalidam RT 05 RW 10 <br>Cimahi Selatan, Indonesia<br>
                            </p>
                            <p class="mar-btm-20">
                                Telp : <strong>085 327787266</strong>
                            </p>
                        </div>
                        <!-- Column -->
                        <div class="col-sm-4 hidden-xs">
                            <ul class="list-picture-footer">
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-1.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-1.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-2.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-2.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-3.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-3.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-4.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-4.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-5.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-5.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-6.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-6.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-7.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-7.jpg"></a>
                                </li>
                                <li>
                                    <a class="fancybox" data-fancybox-group="contentgallery" href="~/assets/images/tag-8.jpg"><img alt="Img-sm-picture" class="img-100" src="~/assets/images/tag-8.jpg"></a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <p>
                                Cookie apple pie donut gingerbread <br>sweet roll pudding topping
                            </p>
                        </div>
                        <!-- Column -->
                        <div class="col-sm-4">
                            <ul class="list-link-home">
                                <li>
                                    <a href="shop.html">Shop</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms Of Use</a>
                                </li>
                                <li>
                                    <a href="blog-center.html">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="logo-dn">
                        <img alt="Delip Nugraha" src="~/assets/images/dn.png">
                    </div>
                </div>
            </footer>
            <!-- End Option Cake -->
        </div>
    </div>
    <script src="~/assets/javascripts/jquery.js"></script>
    <script src="~/assets/javascripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/assets/javascripts/slick.js"></script>
    <script src="~/assets/javascripts/wow/wow.js"></script>
    <script src="~/assets/javascripts/custom.js"></script>
    <script src="~/assets/javascripts/bootstrap.js"></script>
    <script src="~/assets/javascripts/classie.js"></script>
    <script src="~/assets/javascripts/pathLoader.js"></script>
    <script src="~/assets/javascripts/main.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</body>
</html>
